﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="angular.js"></script>
    <script src="underscore.js"></script>
    <link href="css/font-awesome.css" rel="stylesheet" />
    <title>whycel</title>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        button {
            background-color: #dadada;
            color: black;
            padding: 10px;
            border: 1px solid grey;
            transition: all ease-in-out 150ms;
        }

        button:hover {
            background-color: #2a2;
            color: white;
        }

        div.row {
            height: 20px;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

        span.cell, span.row-label, span.col-label {
            width: 100px;
            height: 100%;
            margin: 0;
            padding: 0;
            display: inline-block;
            border: 1px solid #f5f5f5;
        }

            span.cell > input {
                border: none;
                height: 16.5px;
                width: 100px;
                padding: 0;
                z-index: 5;
            }

                span.cell > input:disabled {
                    background-color: unset;
                }

            span.cell.current {
                border: 1px solid #aaf;
            }

        span.row-label {
            width: 50px;
        }

        span.row-label, span.col-label {
            background-color: #f0f0f0;
            text-align: center;
        }


        /* extended-input */
        div.extended-input-row {
            height: 25px;
            margin-bottom: 2px;
        }

        .extended-input-row .label {
            width: 100px;
            background-color: #f0f0f0;
        }

        span.extended-input input {
            height: 16.5px;
            width: 500px;
            padding: 0;
            z-index: 5;
        }

        div.whycel-brand {
            font-family: 'Times New Roman', Times, serif;
            padding: 0;
            padding-right: 8px;
            background-color: #dadada;
            margin: 0;
            display: inline-block;
            color: #2a2;
        }

            div.whycel-brand > h1 {
                display: inline;
                line-height: 30px;
                vertical-align: middle;
            }

        div.whycel-logo {
            display: inline-block;
            height: 28px;
            width: 28px;
            padding: 8px;
            background-color: #2a2;
            line-height: 30px;
            text-align: center;
            color: white;
        }

            div.whycel-logo:before {
                content: 'why';
                font-style: italic;
            }

        div.top-bar {
            margin-bottom: 5px;
            position: relative;
            height: 50px;
        }

        div.tools {
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 2px;
        }

        div.datagrid {
            width: calc(100vw - 25px);
            height: calc(100vh - 100px);
            overflow: auto;
        }
    </style>
</head>
<body ng-controller="whycelCtrl"
      ng-keydown="handleCellKeyPress($event, viewState.currentCell)" ng-cloak>

    <div class="top-bar">
        <div class="whycel-brand">
            <div class="whycel-logo"></div>
            <h1>Ycel</h1>
        </div>

        <div class="tools">
            <button><i class="fa fa-fw fa-save"></i></button>
            <button><i class="fa fa-fw fa-globe"></i></button>
            <button><i class="fa fa-fw fa-share"></i></button>
        </div>
    </div>
    <div class="extended-input-row">
        <div ng-show="viewState.currentCell">
            <span class="label">{{viewState.currentCell.label}}</span><span class="extended-input">
                <input type="text" ng-model="viewState.currentCell.rawValue" />
            </span>
        </div>
    </div>
    <div class="datagrid">
        <div class="row">
            <span class="row-label">&nbsp;</span><span ng-repeat="label in headerRow" class="col-label">{{label}}</span>
        </div>
        <div class="row" ng-repeat="row in rows">
            <span class="row-label">
                {{row.row}}
            </span><span ng-click="viewState.currentCell = cell"
                         ng-dblclick="enterEditMode(cell)"
                         class="cell"
                         ng-class="{'current': viewState.currentCell === cell && !cell.editMode}"
                         ng-repeat="cell in row.cells">
                <input type="text"
                       focus-when="cell.editMode && cell === viewState.currentCell"
                       ng-disabled="!cell.editMode"
                       ng-model="cell.editValue"
                       ng-focus="viewState.currentCell = cell" />
            </span>
        </div>
    </div>
    <script>

        angular.module('app', [])
            .controller('whycelCtrl', ['$scope', '$parse', function ($scope, $parse) {

                var sheetDimensions = [80, 21];

                var columnLabels = alphabetRange(sheetDimensions[1]);

                var rows = [];

                var cells = [];
                _.each(numberRange(sheetDimensions[0]), function (i) {
                    var row = {
                        row: i + 1,
                        cells: []
                    };
                    rows.push(row);
                    _.each(columnLabels, function (c) {
                        var cell = {
                            row: i + 1,
                            column: c,
                            label: c + (i + 1),
                            displayValue: null,
                            rawValue: ''
                        };
                        row.cells.push(cell);
                        cells.push(cell);
                    });
                });

                $scope.cells = cells;
                $scope.rows = rows;
                $scope.headerRow = columnLabels;
                $scope.viewState = {
                    currentCell: $scope.cells[0]
                };

                $scope.context = {
                    Math: Math,
                    console: console,
                    Date: Date
                };
                _.each(cells, function (cell) {
                    $scope.context[cell.label] = cell.displayValue;
                });

                function enterEditMode(cell) {
                    if (!cell.editMode) {
                        cell.editMode = true;
                        cell.editValue = cell.rawValue;
                    }
                }
                $scope.enterEditMode = enterEditMode;

                function refreshAllDisplayValues() {
                    var refreshAgain = false;
                    var maxRefreshes = 1000;
                    var refreshes = 0;
                    do {
                        refreshes += 1;
                        _.each(cells, function (cell) {
                            if (cell.rawValue[0] === '=') {
                                var newValue = $parse(cell.rawValue.substring(1))($scope.context) || '#!';
                                if (cell.displayValue != newValue) {
                                    cell.displayValue = newValue;
                                    cell.editValue = newValue;
                                    $scope.context[cell.label] = cell.displayValue;
                                    refreshAgain = true;
                                }
                            }
                        });
                    } while (refreshAgain && refreshes <= maxRefreshes);
                }

                function commitChanges(cell) {
                    if (cell.editMode) {
                        if (!_.isUndefined(cell.editValue) && !_.isNull(cell.editValue)) {
                            cell.rawValue = cell.editValue;
                            if (cell.rawValue[0] === '=') {
                                cell.displayValue = $parse(cell.rawValue.substring(1))($scope.context) || '#!';
                            }
                            else {
                                cell.displayValue = cell.rawValue;
                            }
                            $scope.context[cell.label] = cell.displayValue;
                            cell.editValue = cell.displayValue;
                            refreshAllDisplayValues();
                        }
                        cell.editMode = false;
                    }
                }

                function offsetCellColumn(cell, offset) {
                    var colIdx = columnLabels.indexOf(cell.column);
                    var lengthLabels = columnLabels.length;

                    var newColIdx = Math.max(0, Math.min(colIdx + offset, lengthLabels));
                    $scope.viewState.currentCell = cells[((cell.row - 1) * lengthLabels) + newColIdx];
                }

                function offsetCellRow(cell, offset) {
                    var colIdx = columnLabels.indexOf(cell.column);
                    var lengthRows = rows.length;
                    var lengthLabels = columnLabels.length;

                    var newRow = Math.max(0, Math.min((cell.row - 1) + offset, lengthRows));
                    $scope.viewState.currentCell = cells[(newRow * lengthLabels) + colIdx];
                }

                $scope.handleCellKeyPress = function ($event, cell) {
                    if (!cell) {
                        return;
                    }
                    switch ($event.keyCode) {
                        case 13: //enter
                            $event.preventDefault();
                            commitChanges(cell);
                            console.log($event);
                            if (!$event.ctrlKey) {
                                offsetCellRow(cell, 1);
                            }
                            break;
                        case 9: //tab
                            $event.preventDefault();
                            commitChanges(cell);
                            if ($event.shiftKey) {
                                offsetCellColumn(cell, -1);
                            }
                            else {
                                offsetCellColumn(cell, 1);
                            }
                            break;
                        case 37: //left
                            $event.preventDefault();
                            commitChanges(cell);
                            offsetCellColumn(cell, -1);
                            break;
                        case 38: //up
                            $event.preventDefault();
                            commitChanges(cell);
                            offsetCellRow(cell, -1);
                            break;
                        case 39: //right
                            $event.preventDefault();
                            commitChanges(cell);
                            offsetCellColumn(cell, 1);
                            break;
                        case 40: //down
                            $event.preventDefault();
                            commitChanges(cell);
                            offsetCellRow(cell, 1);
                            break;
                        case 27: //escape
                            // cancel changes
                            $event.preventDefault();
                            cell.editValue = cell.rawValue;
                            break;
                        default:
                            enterEditMode(cell);
                            break;
                    }
                };

                function numberRange(size) {
                    return Array.from(new Array(size), (x, i) => i);
                }

                function alphabetRange(size) {
                    return new Array(size)
                        .fill()
                        .map((d, i) => String.fromCharCode(i + 'A'.charCodeAt(0)));
                }

            }]);

        angular.module('app').directive('focusWhen', function () {
            return {
                restrict: 'A',
                scope: {
                    focusWhen: '='
                },
                link: function (scope, elem) {
                    scope.$watch('focusWhen', function (focusWhen) {
                        if (focusWhen) {
                            elem[0].focus();
                            elem[0].select();
                        }
                    })
                }
            }
        })

    </script>
</body>
</html>
